<div class="alert alert-secondary">
    <a class="btn btn-dark" href="/">Listado de pelicules</a>
    &nbsp;&nbsp;
    <a class="btn btn-dark" href="/pelicules/nova">Nuevo pelicula</a>
    <a class="btn btn-dark" href="/logout">Logout</a>
</div>