{% extends "admin_base.njk" %}

{% block titol %}Pelicules | Nuevo{% endblock %}

{% block contenido %}

    <h1>Inserción de nuevo pelicula</h1>

    {% if (new) %}
        <form action="/pelicules" method="POST" enctype="multipart/form-data">
    {% else %}
        <form action="/pelicules/{{pelicula.id}}?_method=PUT" method="post" enctype="multipart/form-data" >
        {# <input type="hidden" name="_method" value="put" /> #}
    {% endif %}
        <div class="form-group">
            <label for="titol">Titol:</label>
            <input type="text" class="form-control" name="titol" value="{{pelicula.titol}}"
                placeholder="Titol de pelicula..." />
        </div>
        <div class="form-group">
            <label for="sinopsi">Sinopsi:</label>
            <input type="text" class="form-control" name="sinopsi"value="{{pelicula.sinopsi}}" 
                placeholder="Sinopsi del pelicula..." />
        </div>
        <div class="form-group">
            <label for="duracio">Duracio:</label>
            <input type="text" class="form-control" name="duracio"value="{{pelicula.duracio}}"
                placeholder="Duracio del pelicula..." />
        </div>
        <div class="form-group">
            <label for="valoracio">Valoracio:</label>
            <input type="text" class="form-control" name="valoracio"value="{{pelicula.valoracio}}"
                placeholder="Valoracio del pelicula..." />
        </div>
        <div class="form-group">
            <label for="genere">Genere:</label>
            <select name="genere" id="genere">
                {% for genere in generes %}
                        <option value="{{genere}}" {% if ( genere == pelicula.genere ) %} selected {% endif %}>{{genere}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="director">Director:</label>
            <select name="director" id="director">
                {% for director in directors %}
                    <option value="{{director.id}}" {% if ( director.id == pelicula.director) %} selected {% endif %}>{{director.nom}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="imatge">Imatge:</label>
            <input type="file" class="form-control" name="imatge" value="{{pelicula.imatge}}"
                placeholder="Imatge del pelicula..." />
        </div>
        <h4>Platafomra</h4>
        <div class="form-group">
            <label for="plat_nom">Nom Platafomra:</label>
            <input type="text" class="form-control" name="plat_nom" 
                placeholder="Nom de plataforma..." />
        </div>
        <div class="form-group">
            <label for="plat_data">Data:</label>
            <input type="date" class="form-control" name="plat_data" 
                placeholder="Data..." />
        </div>
        <div class="form-group">
            <label for="plat_quantitat">Quantitat:</label>
            <input type="number" class="form-control" name="plat_quantitat" 
                placeholder="Quantitat..."/>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

{% endblock %}
