{% extends "base.njk" %}

{% block titol %}Pelicules | Nuevo{% endblock %}

{% block contenido %}

    <h1>Inserción de nuevo pelicula</h1>

    <form action="/pelicules" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="titol">Titol:</label>
            <input type="text" class="form-control" name="titol" 
                placeholder="Titol de pelicula..." />
        </div>
        <div class="form-group">
            <label for="sinopsi">Sinopsi:</label>
            <input type="text" class="form-control" name="sinopsi"
                placeholder="Sinopsi del pelicula..." />
        </div>
        <div class="form-group">
            <label for="duracio">Duracio:</label>
            <input type="text" class="form-control" name="duracio"
                placeholder="Duracio del pelicula..." />
        </div>
        <div class="form-group">
            <label for="valoracio">Valoracio:</label>
            <input type="text" class="form-control" name="valoracio"
                placeholder="Valoracio del pelicula..." />
        </div>
        <div class="form-group">
            <label for="genere">Genere:</label>
            <select name="genere" id="genere">
                {% for genere in generes %}
                    <option value="{{genere}}">{{genere}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="director">Director:</label>
            <select name="director" id="director">
                {% for director in directors %}
                    <option value="{{director.id}}">{{director.nom}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="imatge">Imatge:</label>
            <input type="file" class="form-control" name="imatge"
                placeholder="Imatge del pelicula..." />
        </div>
        <h4>Platafomra</h4>
        <div class="form-group">
            <label for="plat_nom">Nom Platafomra:</label>
            <input type="text" class="form-control" name="plat_nom" 
                placeholder="Nom de plataforma..." />
        </div>
        <div class="form-group">
            <label for="plat_data">Data:</label>
            <input type="date" class="form-control" name="plat_data" 
                placeholder="Data..." />
        </div>
        <div class="form-group">
            <label for="plat_quantitat">Quantitat:</label>
            <input type="number" class="form-control" name="plat_quantitat" 
                placeholder="Quantitat..."/>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

{% endblock %}
