{% extends "base.njk" %}

{% block titulo %}Pelicules | Listado{% endblock %}

{% block contenido %}

    <h1>Listado de pelicules</h1>
    <form action="/buscar" method="GET">
        <label for="nom">Nom: </label>
            <input type="text" name="nom"/>
    </form>

    <table width="100%">
        {% for pelicula in pelicules %}
            <tr>
                {% if loop.index % 2 == 0 %}
                    <td class="par">{{ pelicula.titol }}</td>
                {% else %}
                    <td class="impar">{{ pelicula.titol }}</td>
                {% endif %}
                <td>
                    <a class="btn btn-success" href="/pelicules/{{ pelicula.id }}">Ver ficha</a>
                    <form style="display:inline" action="/pelicules/{{ pelicula.id }}" method="post">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit" class="btn btn-danger">Borrar</button>
                    </form>
                    <a class="btn btn-primary" href="/pelicules/editar/{{ pelicula.id }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr><td>No hay pelicules que mostrar.</td></tr>
        {% endfor %}
    </table>

{% endblock %}

