{% extends "public_base.njk" %}

{% block titulo %}Pelicules | Listado{% endblock %}

{% block contenido %}

    <h1>Listado de pelicules</h1>
    <form action="/buscar" method="GET">
        <label for="titol">Titol: </label>
            <input type="text" name="titol" {% if query.titol %}value={{query.titol}} {% endif %}/>
        <label for="genere">Genere: </label>
        <select name="genere" id="genere">
            <option value="" {% if ( genere == query.genere ) %} selected {% endif %}>tots</option>
            {% for genere in generes %}
                    <option value="{{genere}}" {% if ( genere == query.genere ) %} selected {% endif %}>{{genere}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <table width="100%">
        {% for pelicula in pelicules %}
            <tr>
                {% if loop.index % 2 == 0 %}
                    <td class="par">{{ pelicula.titol }}</td>
                {% else %}
                    <td class="impar">{{ pelicula.titol }}</td>
                {% endif %}
                <td>
                    <a class="btn btn-success" href="/pelicula/{{ pelicula.id }}">Ver ficha</a>
                </td>
            </tr>
        {% else %}
            <tr><td>No hay pelicules que mostrar.</td></tr>
        {% endfor %}
    </table>

{% endblock %}

